{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Trainingportal, admin-api",
    "termsOfService": "https://www.mintragroup.com",
    "contact": {
      "name": "Mintra Support",
      "url": "https://www.mintragroup.com",
      "email": "support@mintragroup.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "beta.trainingportal.com",
  "basePath": "/mintra/api",
  "tags": [
    {
      "name": "MyCertErrorsController",
      "description": "My Cert Errors Controller"
    },
    {
      "name": "Course Activity Notification",
      "description": "Course Activity Notification Controller"
    },
    {
      "name": "Competence Administration - Approval Application",
      "description": "Competence Approval Application Controller"
    },
    {
      "name": "Admin context",
      "description": "Admin Context Controller"
    },
    {
      "name": "AdminOtherCourseController",
      "description": "Admin Other Course Controller"
    },
    {
      "name": "Survey Administration",
      "description": "Survey Controller"
    },
    {
      "name": "Survey Instance",
      "description": "Survey Instance Controller"
    },
    {
      "name": "Course Survey Record Administration",
      "description": "Course Survey Record Controller"
    },
    {
      "name": "Region Administration",
      "description": "Region Controller"
    },
    {
      "name": "Admin Appraisal Survey Instance",
      "description": "Appraisal Survey Instance Controller"
    },
    {
      "name": "Admin Appraisal Dashboard Controller",
      "description": "Appraisal Dashboard Controller"
    },
    {
      "name": "Organization Unit Administration - Organizational Structure",
      "description": "Organization Unit Administration Controller"
    },
    {
      "name": "User Import Administration",
      "description": "User Import Controller"
    },
    {
      "name": "Reports - Competence",
      "description": "Competence Report Controller"
    },
    {
      "name": "Survey Notification",
      "description": "Survey Notification Controller"
    },
    {
      "name": "Competence User Relation Administration",
      "description": "Competence User Relation Controller"
    },
    {
      "name": "Admin Enrollment Attachment Administration",
      "description": "Enrollment Attachment Controller"
    },
    {
      "name": "Reports - Course",
      "description": "Course Report Controller"
    },
    {
      "name": "Survey Instance Administration",
      "description": "Course Survey Instance Controller"
    },
    {
      "name": "Competence Administration - Notifications",
      "description": "Competence Notification Controller"
    },
    {
      "name": "Course Administration - Certificates",
      "description": "Course Certificates Controller"
    },
    {
      "name": "Competence Administration - Checklists",
      "description": "Competence Checklist Controller"
    },
    {
      "name": "Language Administration",
      "description": "Language Controller"
    },
    {
      "name": "UserRoleController",
      "description": "User Role Controller"
    },
    {
      "name": "Portal Event Administration - Portals",
      "description": "Activated On Portal Portal Event Controller"
    },
    {
      "name": "Power BI statistics controller",
      "description": "Statistics Controller"
    },
    {
      "name": "Reports - Survey",
      "description": "Survey Report Controller"
    },
    {
      "name": "competence-assessment-controller",
      "description": "Competence Assessment Controller"
    },
    {
      "name": "Elearning preview controller",
      "description": "Elearning Preview Controller"
    },
    {
      "name": "Assessment Media Controller",
      "description": "Assessment Media Controller"
    },
    {
      "name": "Course Class Notification Controller",
      "description": "Course Class Notification Controller Impl"
    },
    {
      "name": "Crew Evaluation Test",
      "description": "Crew Evaluation Test Controller"
    },
    {
      "name": "Enrollment Administration",
      "description": "Enrollment Controller"
    },
    {
      "name": "Course Attributes",
      "description": "Course Attributes Controller"
    },
    {
      "name": "Competence Administration - Assessors",
      "description": "Assessor Controller"
    },
    {
      "name": "Historical Training Controller",
      "description": "Historical Training Controller"
    },
    {
      "name": "Customer Accounts Administration",
      "description": "Customer Account Controller Impl"
    },
    {
      "name": "Portal Event Administration - Companies",
      "description": "Activated In Company Portal Event Controller"
    },
    {
      "name": "AdminCVConfigurationController",
      "description": "Admin CV Configuration Controller"
    },
    {
      "name": "SafeBridge Administration",
      "description": "Safe Bridge Controller"
    },
    {
      "name": "Integration User Administration",
      "description": "Integration User Controller"
    },
    {
      "name": "score-color-scale-controller",
      "description": "Score Color Scale Controller"
    },
    {
      "name": "Support ExternalLms Controller",
      "description": "External Lms Controller"
    },
    {
      "name": "AdminCompetenceCompletionController",
      "description": "Admin Competence Completion Controller"
    },
    {
      "name": "Survey Content Administration",
      "description": "Survey Content Controller"
    },
    {
      "name": "Customer Accounts Transactions Administration",
      "description": "Transaction Controller Impl"
    },
    {
      "name": "AdminKeyQualificationController",
      "description": "Admin Key Qualification Controller"
    },
    {
      "name": "Competence Administration",
      "description": "Competence Controller"
    },
    {
      "name": "Smowltech Proctoring Controller",
      "description": "Smowltech Proctoring Controller"
    },
    {
      "name": "User Communication",
      "description": "User Communication Controller"
    },
    {
      "name": "Course Administration - Activation",
      "description": "Course Activation Controller"
    },
    {
      "name": "Course Category - Administration",
      "description": "Course Category Controller"
    },
    {
      "name": "Portal Event Administration - Organization Units",
      "description": "Activated In Organization Unit Or Children Portal Event Controller"
    },
    {
      "name": "Customer Accounts Support Administration",
      "description": "Support Customer Account Controller Impl"
    },
    {
      "name": "Home context",
      "description": "Home Controller"
    },
    {
      "name": "Course Administration - Sharing",
      "description": "Course Sharing Controller"
    },
    {
      "name": "Course Catalogue Administration",
      "description": "Course Catalogue Administration Controller"
    },
    {
      "name": "CompetenceChangeLogController",
      "description": "Competence Change Log Controller"
    },
    {
      "name": "Admin Order history",
      "description": "Order History Controller"
    },
    {
      "name": "Course Content Administration",
      "description": "Course Content Controller"
    },
    {
      "name": "Support Captions",
      "description": "Support Captions Controller"
    },
    {
      "name": "Roles management",
      "description": "Role Controller"
    },
    {
      "name": "Training Portal Offline Remote Site Registrations",
      "description": "Remote Site Portal Registration Controller"
    },
    {
      "name": "CourseSupportMaterialController",
      "description": "Course Support Material Controller"
    },
    {
      "name": "Target Group Administration",
      "description": "Target Group Controller"
    },
    {
      "name": "LibraryImageController",
      "description": "Library Image Controller"
    },
    {
      "name": "Competence Category Administration",
      "description": "Competence Category Controller"
    },
    {
      "name": "Customer Account Notifications Administration",
      "description": "Customer Account Notification Controller Impl"
    },
    {
      "name": "AdminWorkExperienceController",
      "description": "Admin Work Experience Controller"
    },
    {
      "name": "Support Message Controller",
      "description": "Support Message Controller"
    },
    {
      "name": "Company Administration",
      "description": "Company Controller"
    },
    {
      "name": "AdminCvEmailController",
      "description": "Admin Cv Email Controller"
    },
    {
      "name": "course-assessment-controller",
      "description": "Course Assessment Controller"
    },
    {
      "name": "Competence Administration - Relations",
      "description": "Competence Relations Controller"
    },
    {
      "name": "AdminCertificatesAndAttachmentsController",
      "description": "Admin Certificates And Attachments Controller"
    },
    {
      "name": "Reports - Appraisals",
      "description": "Appraisal Report Controller"
    },
    {
      "name": "Elearning Package Administration",
      "description": "Elearning Package Controller"
    },
    {
      "name": "Content Administration",
      "description": "Content Controller"
    },
    {
      "name": "Elearning Administration",
      "description": "Elearning Controller"
    },
    {
      "name": "AdminRolesAndProjectExperienceController",
      "description": "Admin Roles And Project Experience Controller"
    },
    {
      "name": "Company Support Administration",
      "description": "Company Support Controller"
    },
    {
      "name": "AdminCvDownloadController",
      "description": "Admin Cv Download Controller"
    },
    {
      "name": "Elearning Video Administration",
      "description": "Elearning Video Controller"
    },
    {
      "name": "Competence Catalogue Administration",
      "description": "Competence Catalogue Controller"
    },
    {
      "name": "Users Merge",
      "description": "Users Merge Controller"
    },
    {
      "name": "Trainingportal Info Controller",
      "description": "Trainingportal Info Controller"
    },
    {
      "name": "Support Indexing",
      "description": "Support Indexing Controller"
    },
    {
      "name": "User Portal Registrations Administration",
      "description": "User Portal Registration Controller"
    },
    {
      "name": "Course Classes",
      "description": "Course Class Controller"
    },
    {
      "name": "Reports - User",
      "description": "User Report Controller"
    },
    {
      "name": "MyCertController",
      "description": "My Cert Controller"
    },
    {
      "name": "Course Class Sessions Controller",
      "description": "Course Class Sessions Controller Impl"
    },
    {
      "name": "International Sos Administration",
      "description": "Isos Controller"
    },
    {
      "name": "Identity Verification Controller",
      "description": "Course Identity Verification Controller"
    },
    {
      "name": "Safety English Test",
      "description": "Safety English Test Controller"
    },
    {
      "name": "Course Administration - Favourites",
      "description": "Course Favourite Controller"
    },
    {
      "name": "Course Provider Support Controller",
      "description": "Course Provider Controller"
    },
    {
      "name": "Customer Accounts Transactions Support Administration",
      "description": "Support Transaction Controller Impl"
    },
    {
      "name": "Course Administration - Last Visited",
      "description": "Course Last Visited Controller"
    },
    {
      "name": "Survey Responses Administration",
      "description": "Survey Responses Controller"
    },
    {
      "name": "User Employments",
      "description": "User Employments Controller"
    },
    {
      "name": "Enrollment Comment Controller",
      "description": "Enrollment Comment Controller"
    },
    {
      "name": "Admin Instructors Controller",
      "description": "Instructor Controller Impl"
    },
    {
      "name": "Course Administration",
      "description": "Course Controller Impl"
    },
    {
      "name": "Appraisal Survey Record Administration",
      "description": "Appraisal Survey Record Controller"
    },
    {
      "name": "MyCertGroupController",
      "description": "My Cert Group Controller"
    },
    {
      "name": "Admin Course Supervisor Support Controller",
      "description": "Admin Course Supervisor Support Controller"
    },
    {
      "name": "Course Connections Administration",
      "description": "Course Connections Controller"
    },
    {
      "name": "AdminLanguageController",
      "description": "Admin Language Controller"
    },
    {
      "name": "Competence Administration - Competence Completion",
      "description": "Competence Completion Controller"
    },
    {
      "name": "CourseChangeLogController",
      "description": "Course Change Log Controller"
    },
    {
      "name": "Portal Event Administration - general",
      "description": "Portal Event Controller"
    },
    {
      "name": "Course Administration - Enrollment Rules",
      "description": "Course Enrollment Rules Controller"
    },
    {
      "name": "Assessment Question Group Controller",
      "description": "Assessment Question Group Controller"
    },
    {
      "name": "Elearning PowerPoint Administration",
      "description": "Elearning Power Point Controller"
    },
    {
      "name": "CV - Course Completions",
      "description": "Admin Course Completion Controller"
    },
    {
      "name": "Portal Settings",
      "description": "Portal Settings Controller"
    },
    {
      "name": "assessment-controller",
      "description": "Assessment Controller"
    },
    {
      "name": "other-course-registrations-controller",
      "description": "Other Course Registrations Controller"
    },
    {
      "name": "Admin User Appraisers Controller",
      "description": "User Appraisers Controller"
    },
    {
      "name": "AdminEducationController",
      "description": "Admin Education Controller"
    },
    {
      "name": "Ecommerce Course Price Settings",
      "description": "Course Price Setting Controller"
    },
    {
      "name": "survey-statistics-controller",
      "description": "Survey Statistics Controller"
    },
    {
      "name": "Competence Administration - Support Material",
      "description": "Competence Support Material Controller"
    },
    {
      "name": "Competence Administration - Verifiers",
      "description": "Competence Verifier Controller"
    },
    {
      "name": "CourseSupervisor CourseComponent Controller",
      "description": "Course Supervisor Component Controller"
    },
    {
      "name": "Portal Support",
      "description": "Portal Controller"
    },
    {
      "name": "Theme",
      "description": "Api for fetching mgp ui theme details"
    },
    {
      "name": "Course Class Import Controller",
      "description": "Course Class Import Controller"
    },
    {
      "name": "Industry Administration",
      "description": "Industry Controller"
    },
    {
      "name": "Admin Theme Controller",
      "description": "Theme Controller"
    },
    {
      "name": "Report Support Controller",
      "description": "Report Controller"
    },
    {
      "name": "Reports - Account Usage Details",
      "description": "Account Usage Report Controller"
    },
    {
      "name": "Portal Administration",
      "description": "Portal Controller"
    },
    {
      "name": "Reports Administration",
      "description": "Report Controller"
    },
    {
      "name": "Admin Course Supervisor Controller",
      "description": "Admin Course Supervisor Controller"
    },
    {
      "name": "Competence Administration - Favourites",
      "description": "Competence Favourite Controller"
    },
    {
      "name": "Course Notification Administration",
      "description": "Course Notification Controller Impl"
    },
    {
      "name": "Course Free Usage Administration",
      "description": "Course Free Usage Controller"
    },
    {
      "name": "AdminOtherCompetencesController",
      "description": "Admin Other Competences Controller"
    },
    {
      "name": "Competence Statistics",
      "description": "Competence Statistics Controller"
    },
    {
      "name": "User Administration",
      "description": "User Controller"
    },
    {
      "name": "Commons",
      "description": "Commons Controller"
    },
    {
      "name": "Country Code Administration",
      "description": "Country Code Controller"
    },
    {
      "name": "UserChangelogController",
      "description": "User Change Log Controller"
    },
    {
      "name": "Course Class Content",
      "description": "Course Class Content Controller"
    }
  ],
  "paths": {
    "/admin/appraisals/all": {
      "get": {
        "tags": [
          "Admin Appraisal Dashboard Controller"
        ],
        "summary": "getAllAppraisals",
        "operationId": "getAllAppraisalsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.apparaisal.survey.dashboard-v1+json",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppraisalSurveyInstanceResource"
              }
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/appraisals/searchAppraisees": {
      "post": {
        "tags": [
          "Admin Appraisal Dashboard Controller"
        ],
        "summary": "searchAppraisals",
        "operationId": "searchAppraisalsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.apparaisal.survey.dashboard-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppraisalRecordSearchRequest"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResourcesOfAppraiseeResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/appraisals/{recordId}": {
      "get": {
        "tags": [
          "Appraisal Survey Record Administration"
        ],
        "summary": "getRecord",
        "operationId": "getRecordUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.admin.appraisal-records-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "recordId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppraisalRecordResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/appraisals/{recordId}/reopen": {
      "post": {
        "tags": [
          "Appraisal Survey Record Administration"
        ],
        "summary": "reopenAppraisal",
        "operationId": "reopenAppraisalUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.admin.appraisal-records-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "recordId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppraisalRecordResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/appraisals/{recordId}/signOff": {
      "post": {
        "tags": [
          "Appraisal Survey Record Administration"
        ],
        "summary": "signOffResponses",
        "operationId": "signOffResponsesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.admin.appraisal-records-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "recordId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppraisalRecordResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/appraisals/{recordId}/submit": {
      "post": {
        "tags": [
          "Appraisal Survey Record Administration"
        ],
        "summary": "submitResponses",
        "operationId": "submitResponsesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.admin.appraisal-records-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "description": "recordId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppraisalRecordResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/media/alternativeMedia": {
      "get": {
        "tags": [
          "Assessment Media Controller"
        ],
        "summary": "getAlternativeMedia",
        "operationId": "getAlternativeMediaUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.assessmentmedia-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "alternativeMediaUuid",
            "in": "query",
            "description": "alternativeMediaUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadedFileResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/media/alternativeMedia/download": {
      "get": {
        "tags": [
          "Assessment Media Controller"
        ],
        "summary": "downloadAlternativeMedia",
        "operationId": "downloadAlternativeMediaUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.assessmentmedia-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "alternativeMediaUuid",
            "in": "query",
            "description": "alternativeMediaUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/media/alternativeMedia/upload": {
      "post": {
        "tags": [
          "Assessment Media Controller"
        ],
        "summary": "uploadAlternativeMedia",
        "operationId": "uploadAlternativeMediaUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/vnd.com.mintragroup.assessmentmedia-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          },
          {
            "name": "attachmentType",
            "in": "query",
            "description": "attachmentType",
            "required": true,
            "type": "string",
            "enum": [
              "VIDEO",
              "VIDEO_YOUTUBE",
              "SOUND",
              "LINKS",
              "PICTURE"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/UploadedFileResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/media/questionAttachment": {
      "get": {
        "tags": [
          "Assessment Media Controller"
        ],
        "summary": "getQuestionAttachment",
        "operationId": "getQuestionAttachmentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.assessmentmedia-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "questionAttachmentUuid",
            "in": "query",
            "description": "questionAttachmentUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadedFileResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/media/questionAttachment/download": {
      "get": {
        "tags": [
          "Assessment Media Controller"
        ],
        "summary": "downloadQuestionAttachment",
        "operationId": "downloadQuestionAttachmentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.com.mintragroup.assessmentmedia-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "questionAttachmentUuid",
            "in": "query",
            "description": "questionAttachmentUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/media/questionAttachment/upload": {
      "post": {
        "tags": [
          "Assessment Media Controller"
        ],
        "summary": "uploadQuestionAttachment",
        "operationId": "uploadQuestionAttachmentUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/vnd.com.mintragroup.assessmentmedia-v1+json",
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": false,
            "type": "file"
          },
          {
            "name": "attachmentType",
            "in": "query",
            "description": "attachmentType",
            "required": true,
            "type": "string",
            "enum": [
              "VIDEO",
              "VIDEO_YOUTUBE",
              "SOUND",
              "LINKS",
              "PICTURE"
            ]
          },
          {
            "name": "title",
            "in": "query",
            "description": "title",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadedFileResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/question/multipleChoice/{multipleMediaChoiceQuestionId}": {
      "get": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "getMultipleMediaChoiceQuestion",
        "operationId": "getMultipleMediaChoiceQuestionUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "multipleMediaChoiceQuestionId",
            "in": "path",
            "description": "multipleMediaChoiceQuestionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "deleteMultipleMediaChoiceQuestion",
        "operationId": "deleteMultipleMediaChoiceQuestionUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "multipleMediaChoiceQuestionId",
            "in": "path",
            "description": "multipleMediaChoiceQuestionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "createQuestionBank",
        "operationId": "createQuestionBankUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateQuestionBankRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}": {
      "get": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "getQuestionBankDetails",
        "operationId": "getQuestionBankDetailsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionBankResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "updateQuestionBankDetails",
        "operationId": "updateQuestionBankDetailsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateQuestionBankRequest",
            "description": "updateQuestionBankRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateQuestionBankRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionBankResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "deleteQuestionBank",
        "operationId": "deleteQuestionBankUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/copy": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "copyQuestionBank",
        "operationId": "copyQuestionBankUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/group": {
      "get": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "getQuestionGroups",
        "operationId": "getQuestionGroupsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QuestionGroupResource"
              }
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "addQuestionGroup",
        "operationId": "addQuestionGroupUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionGroupName",
            "in": "query",
            "description": "questionGroupName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionGroupResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "editQuestionGroup",
        "operationId": "editQuestionGroupUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionGroupId",
            "in": "query",
            "description": "questionGroupId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionGroupName",
            "in": "query",
            "description": "questionGroupName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionGroupResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "deleteQuestionGroup",
        "operationId": "deleteQuestionGroupUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionGroupId",
            "in": "query",
            "description": "questionGroupId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/group/questionInSelection": {
      "post": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "getNumberOfQuestionsInSelection",
        "operationId": "getNumberOfQuestionsInSelectionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionGroupsSelectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/group/validateSelection": {
      "post": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "validateSelection",
        "operationId": "validateSelectionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentDrawingQuestionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionGroupSelectionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/group/{questionGroupId}": {
      "get": {
        "tags": [
          "Assessment Question Group Controller"
        ],
        "summary": "getQuestionGroup",
        "operationId": "getQuestionGroupUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessmentquestiongroup-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionGroupId",
            "in": "path",
            "description": "questionGroupId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuestionGroupResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/localeList": {
      "get": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "getLocaleList",
        "operationId": "getLocaleListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Locale"
              }
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/moveQuestion/{questionId}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "moveQuestion",
        "operationId": "moveQuestionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "query",
            "description": "position",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/publish": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "setPublishedQuestionBank",
        "operationId": "setPublishedQuestionBankUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "published",
            "in": "query",
            "description": "published",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question": {
      "get": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "searchQuestionBankQuestions",
        "operationId": "searchQuestionBankQuestionsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "query",
            "in": "query",
            "description": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "questionGroup",
            "in": "query",
            "description": "questionGroup",
            "required": false,
            "type": "string"
          },
          {
            "name": "questionType",
            "in": "query",
            "description": "questionType",
            "required": false,
            "type": "string",
            "enum": [
              "FreeTextQuestion",
              "FreeTextQuestionWithPredefinedAnswer",
              "TrueFalseQuestion",
              "MultipleChoiceQuestion",
              "StartPageFakeQuestion"
            ]
          },
          {
            "name": "active",
            "in": "query",
            "description": "active",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResourcesOfAdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/freeText": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "createFreeTextQuestion",
        "operationId": "createFreeTextQuestionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreeTextQuestionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/freeText/{questionId}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "updateFreeTextQuestion",
        "operationId": "updateFreeTextQuestionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreeTextQuestionRequest"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/freeTextWithPredefinedAnswers": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "createFreeTextWithPredefinedAnswersQuestion",
        "operationId": "createFreeTextWithPredefinedAnswersQuestionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreeTextWithPredefinedAnswersQuestionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/freeTextWithPredefinedAnswers/{questionId}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "updateFreeTextWithPredefinedAnswersQuestion",
        "operationId": "updateFreeTextWithPredefinedAnswersQuestionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreeTextWithPredefinedAnswersQuestionRequest"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/multipleChoice": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "createMultipleMediaChoiceQuestion",
        "operationId": "createMultipleMediaChoiceQuestionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MediaMultipleChoiceQuestionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/multipleChoice/{multipleMediaChoiceQuestionId}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "updateMultipleMediaChoiceQuestion",
        "operationId": "updateMultipleMediaChoiceQuestionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "multipleMediaChoiceQuestionId",
            "in": "path",
            "description": "multipleMediaChoiceQuestionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MediaMultipleChoiceQuestionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/trueFalse": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "createTrueFalseQuestion",
        "operationId": "createTrueFalseQuestionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrueFalseQuestionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/trueFalse/{questionId}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "updateTrueFalseQuestion",
        "operationId": "updateTrueFalseQuestionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrueFalseQuestionRequest"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/{questionId}": {
      "get": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "getQuestionBankQuestion",
        "operationId": "getQuestionBankQuestionUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "deleteQuestion",
        "operationId": "deleteQuestionUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "forceEdit",
            "in": "query",
            "description": "forceEdit",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "emailToSendValidationErrors",
            "in": "query",
            "description": "emailToSendValidationErrors",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/question/{questionId}/copy": {
      "post": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "copyQuestion",
        "operationId": "copyQuestionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminQuestionResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/questionsAlternativesOrder": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "changeQuestionAlternativesOrder",
        "operationId": "changeQuestionAlternativesOrderUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "order",
            "description": "order",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FIXED",
                "RANDOM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/rotateQuestion/{questionId}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "rotateQuestion",
        "operationId": "rotateQuestionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "questionId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessment/questionBank/{questionBankId}/weights/{allow}": {
      "put": {
        "tags": [
          "assessment-controller"
        ],
        "summary": "allowWeightsActivation",
        "operationId": "allowWeightsActivationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.assessment-v1+json"
        ],
        "parameters": [
          {
            "name": "questionBankId",
            "in": "path",
            "description": "questionBankId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "allow",
            "in": "path",
            "description": "allow",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessors": {
      "get": {
        "tags": [
          "Competence Administration - Assessors"
        ],
        "summary": "searchAssessors",
        "operationId": "searchAssessorsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.admin.assessor-v1+json"
        ],
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "searchText",
            "required": false,
            "type": "string"
          },
          {
            "name": "workingCatalogueId",
            "in": "query",
            "description": "workingCatalogueId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResourcesOfAssessorUserResource"
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Competence Administration - Assessors"
        ],
        "summary": "addAssessor",
        "operationId": "addAssessorUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.admin.assessor-v1+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddAssessorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssessorUserResource"
              }
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessors/checklist": {
      "get": {
        "tags": [
          "Competence Administration - Assessors"
        ],
        "summary": "getAssessorsFromRelationOrCompletion",
        "operationId": "getAssessorsFromRelationOrCompletionUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.admin.assessor-v1+json"
        ],
        "parameters": [
          {
            "name": "competenceUserRelationId",
            "in": "query",
            "description": "competenceUserRelationId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "competenceCompletionId",
            "in": "query",
            "description": "competenceCompletionId",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserBasicResource"
              }
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/admin/assessors/competenceUserRelation/{competenceUserRelationId}": {
      "post": {
        "tags": [
          "Competence Administration - Assessors"
        ],
        "summary": "setAssessorsForCompetenceUserRelation",
        "operationId": "setAssessorsForCompetenceUserRelationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/vnd.com.mintragroup.admin.assessor-v1+json"
        ],
        "parameters": [
          {
            "name": "competenceUserRelationId",
            "in": "path",
            "description": "competenceUserRelationId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "competenceCompletionId",
            "in": "query",
            "description": "competenceCompletionId",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "userIds",
            "description": "userIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserBasicResource"
              }
            }
          },
          "400": {
            "description": "Request is incorrect",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "A user doesn't have enough rights to perform an operation or to access a resource",
[...]
